.newsletter__container {
  background-color: var(--secundary-color);
  color: var(--font-white);
  display: grid;
  margin: 4rem 1.5rem 0;
  padding: 1rem 1.5rem;
}

.newsletter__container h2 {
  margin: 2rem 0;
}

.newsletter__container p {
  margin: 1.5rem 0;
}

.newsletter__container form {
  display: flex;
  flex-direction: column;
}

.newsletter__container form label {
  margin: .5rem 0;
}

.newsletter__container form input {
  padding-left: 1rem;
}

.newsletter__container form button {
  background-color: var(--button-color-pink);
  color: var(--font-white);
  margin: 1.5rem 0 .5rem 0;
  max-width: 40%;
}